# --- Python Garbage ---
__pycache__/
*.py[cod]
*$py.class

# --- Virtual Environments (NEVER UPLOAD THESE) ---
venv/
env/
.env

# --- VS Code Settings ---
.vscode/

# --- Docker Junk ---
*.log
Overview/